rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /journals/{journalId} {
      allow create: if 
        request.auth != null &&
        request.resource.data.email == request.auth.token.email;
        
      allow read, update, delete: if 
        request.auth != null && 
        request.auth.token.email == resource.data.email;
    }
  }
}
